{%extends "users/base.html"%}
{% load bootstrap5 %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container login">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          
        </div>
        <div class="panel-body">
 
          <form  method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <div class = "border-top pt-3">
            <small class="text-muted">
                Need An Account?<a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}