{% extends "users/base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <!-- Empty div to center form -->
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <legend>You have been logged out.</legend>
            <div class="panel panel-default">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
                    <div class = "border-top pt-3">
                        <small class="text-muted">
                            <a  href="{% url 'login' %}">Log in Again</a>
                        </small>
                    </div>
                </div>
            </diV>
        </div>
        <!-- Empty div to center form -->
        <div class="col-md-4">

        </div>
    </div>

</div>
{% endblock %}