{% extends "users/base.html" %}
{% load bootstrap5 %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container login">
    <div class="row">
        <div class="col-4">
            <img src="" alt="">
        </div>
            {% if form.errors %}
            <p>Some information Might be Incorrect </p>
            {% endif %}
            <div class="col-4">
                    <form method="POST">
                        
                        {% csrf_token %}
                        <h3 style="margin-left: 60px;">Vicinity</h3><br>
                        <legend class="border-bottom mb-4">Join Today</legend>
                        
                        {{ form|crispy }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm">
                        </div>
                        <div class = "border-top pt-3">
                            <small class="text-muted">
                                Already Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
                            </small>
                        </div>
                    </form>
                    </div>
                
            
        
      
    </div>

</div>
{% endblock %}