{%extends "base.html"%}
{% load bootstrap5 %}
{%load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/hood.css' %}">

<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'viewhood' %}" id="b">Vicinity</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="btn">
        <span class="navbar-toggler-icon" id="btn"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" id="btn">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'viewhood'%}" id="txt">Home</a>
          <a class="nav-link active" aria-current="page" href="{% url 'add_hood'%}" id="txt">Add Hood</a>

         
          
         
      </div>
      {% if user.is_authenticated %}
          <a href="{% url 'profile'%}" class="nav-link" id="txt" style="margin-left: 400px;">@{{user.username}}</i></a>
          <a href="{% url 'logout'%}" class="nav-link" id="txt">Logout</a>
          
          
          {% else %}
          
              <a href="{% url 'login'%}" class="nav-link" id="txt">Login</a>
          
          {% endif %}
      </div>
    </div>
  </nav>
{% for hood in hoods %}
<div class="responsive">
  <div class="gallery">
      <div class="card">
      <img src="{{hood.pic.url}}" alt="hood" width="600" height="400">
      <div class="desc"><p>name:{{hood.hood}}</p></div>
    <div class="desc"><p>location:{{hood.location}}</p></div>
    <a href="{% url 'hood' hood.id %}" class="btn btn-outline-secondary btn-sm">More</a>                

    </div>
  </div>
  {%endfor%}
  {%endblock%}