{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bizna.css' %}">
<div class="container-fluid viewpost">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
      
                {% for post in posts %}
                <div class="gallery">
                    <div class="card">
                    <h2 style="text-align: center;">{{post.title}}</h2>
                    <img src="{{post.image.url}}" alt="Post" width="600" height="400">
                    <div class="desc"><p>Details: {{post.post}}</p></div>
                    <div class="desc"><p>Hood: {{post.hood}}</p></div>
                  
                
              
                  </div>
                {% endfor %}
            
            
        </div>
        <div class="col-md-5">
            
        </div>
    </div>
</div>

{% endblock %}
